.list-nav {
  &-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;

  }
}
.list-main {
  padding-top: 10rpx;
  &-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12rpx 35rpx;
    &-info {
      &-name {
        width: 400rpx;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 28rpx;
        line-height: 43rpx;
        color: #333333;
      }
      &-vice {
        font-size: 20rpx;
        line-height: 30rpx;
        color: #cbcbcb;
      }
    }
    &.select {
      background-image: linear-gradient(to left, #dddddd,#ffffff);
    }
  }
  &-unit {
    margin: 0 12rpx;
  }
}
